# Jqwik
.jqwik-*

# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Maven
target/

# IntelliJ
*.iml
*.ipr
*.iws
*.uml
.shelf
.idea/
out/

# Eclipse
.classpath
.settings/
.project
bin/

# Misc
*.log

# System
.DS_Store
Thumbs.db
